@import './variables.scss';
// Import Toastr CSS
@import "~toastr/build/toastr.min.css";


body{
    font-family: sans-serif;
    color: $dark;
}
nav li:last-child a {
    background: $primary;
    &:hover {
        background: $primary-hover;
    }
}
nav button {
    transition: $smooth;
    &:hover{
        color: $primary-hover;
    }
}
nav li a{
    transition: $smooth;
    &:hover{
        color: $primary-hover;
    }
}
section.hero{
    background: $secondary;
}

.s{
    background: $secondary;

}
.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary{
    transition: $smooth;
    &:hover{
        background-color:$primary-hover
    }
}

.order-btn{
    transition: $smooth;
    &:hover{
        background-color:$primary-hover
    }
}

.go-back-btn{
    transition: $smooth;
    &:hover{
        background-color:$primary-hover
    }
}

.empty-cart{
    background-color: $secondary;
    min-height: calc(100vh - 60px);
}

section.login{
    background-color: $secondary;
    min-height: calc(100vh - 60px);
}

a.link{
    color: $primary;
}


